.btn-circle-border-double {
  display: inline-block;
  text-decoration: none;
  background: #4169e1;
  color: #f8f8ff;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: double 4px #ffffff;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  transition: .6s;
}

.btn-circle-border-double:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.btn-square {
  display: inline-block;
  padding: 2em 4em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 8px #627295;
  border-radius: 6px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.btn-right-radius {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  border-radius: 0 15px 15px 0;
  transition: .4s;
}

.btn-right-radius:hover {
  background: #636363;
}
